.close_btn {
  display: grid;
  place-items: center;
  svg {
    transition: 0.3s ease-out;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  &:hover {
    svg {
      transform: rotate(180deg);
    }
  }
  &.close_navbar {
    right: -30px;
    top: 0;
    @include close_btn($red, $white);
  }
  &.close_search_bar {
    left: 50%;
    top: 100%;
    transform: translateX(-50%);
    @include close_btn($white, $red);
  }
}

.button {
  background-color: $red;
  color: $white;
  padding: calc($spacer * 0.75) calc($spacer * 2);
  border-radius: 0.25rem;
  transition: 0.3s ease-out;
  &:disabled {
    background-color: $darkgrey;
    cursor: not-allowed;
    &:hover,
    &:active,
    &:visited,
    &:focus {
      background-color: $darkgrey;
    }
  }
}

.mini_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  background-color: $red;
  @include rounded(30px);
  @include centering;
  svg {
    color: $white;
  }
}

// Up Button
.up_btn {
  position: fixed;
  bottom: 15px;
  right: 15px;
  transform: translateX(-35px);
  @include rounded(35px);
  background-color: $red;
  color: $white;
  transition: 0.3s ease-out;
  z-index: 200;
  @media (max-width: 767px) {
    bottom: 42px;
  }
  &.active {
    transform: translateX(-15px);
  }
}
